<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ renderData.title or title or metadata.title }}</title>

        {%- set css %}
            {% include 'index.css' %}
            {% include 'prism-theme.css' %}
        {% endset %}

        <style>{{ css | safe }}</style>
    </head>
    <body>
        <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
            {{ content | safe }}
        </main>

        <footer></footer>
        <!-- Current page: {{ page.url | url }} -->
    </body>
</html>
